.events {
  padding: 6rem 0 6rem 0;
  background-color: $color-black;
  
  @include respond(larger){
    padding:6rem 2rem
  }


  &__wrapper{
    display:flex;
    align-items:flex-start;
  }

  &__heading {
    @include font-primary-bold(3.4rem, .85, 2.2px);
    color: $color-orange;
    margin:0;
  }

  &__left{
    width:25%;
    margin-right: 9%;

    @include respond(larger){
      width:35%;
    }
  }

  &__right{
    width:75%;

    @include respond(larger){
      width:65%;
      align-self:center;
    }
  }

  &__text{
    margin-top:1rem;
    margin-bottom:2rem;
  }

  &__img {
    width:100%;
    transform:scale(.92);
    display:block;
    box-shadow: $box-shadow-left;    
  } 
}