.header{
    background-image: url(../images/home-image-1.jpg);
    background-size:cover;
    background-position:center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:90vh;
    
    
    &__heading {
      font-size: 4.16rem;
      font-family:$font-primary;
      letter-spacing: 2.6px;
      line-height:.65;
      grid-row: 1/1;
      grid-column: 1/1;
      margin:0;
      justify-self: center;
      align-self: end;
      transform:translateY(-25%);
      z-index:2;
  
      &--large{
        font-family: $font-secondary;
        font-size: 13.07rem;
        font-weight:300;
        color: $color-orange;
        display:block;
        margin-left:-7px;
      }
    }  

    &__img-box {
      grid-row: 1/1;
      grid-column: 1/1;
      width:50%;
      
      transform:translateY(25%);
      justify-self:end;
      align-self:end;  
    }

    &__img {
      display:block;
      width:100%;
    }
}

.header-nav {
  grid-row: 1/1;
  grid-column: 1/1;
  width:45%;
  margin-top:3%;
  justify-self: center;

  &__navigation {
    display:flex;
    align-items: center;
    text-align: center;
  }

  &__item{
    width:20%;
  }

  &__link {
    @include font-primary-bold(1.9rem, .76, 1.9px);
    text-transform: uppercase;
    display:block;
    padding: .5rem 0;
    letter-spacing: 1.9px;
    color: inherit;
  }

  &__logo {
    font-family: $font-secondary;
    font-size: 3rem;
    font-weight: 300;
    color: currentColor;
    padding: .5rem 1rem;
    letter-spacing: 1.9px;
  }

  &__link:hover, &__logo:hover {
    color:$color-orange;
  }
}


