.info {
  background-color: $color-red-dark;
  display: grid;
  grid-template-columns:[full-start]1fr [middle-start]repeat(10, [col-start] minmax(min-content, 7rem)[col-end])[middle-end] 1fr[full-end];
  // grid-template-rows: repeat(2, min-content);
  align-items:center;

  &__header {
    @include font-primary-bold(3.4rem, .85, 2.2px);
    margin-top:0;
    margin-bottom:.5rem;
  }

  &__text {
    margin-top:0;
    margin-bottom:2rem;
    text-align:left;
  }

  &__image-box--1{
    grid-column: full-start/col-end 4;
    transform: translateY(-10%); 
  }

  &__plan {
    grid-column: col-start 7/ middle-end; 
  }

  &__locations {
    grid-column: middle-start /col-end 4;
    grid-row:2/3;
    text-align: right;
  }

  &__image-box--2{
    grid-column: col-start 7/ full-end;
    transform: translateY(10%);
  }

  &__img{
    width:100%;
    display:block;

    &--1 {
      box-shadow: $box-shadow-right;
    }

    &--2 {
      box-shadow: $box-shadow-left;
    }
  } 
}
