.party {
  text-align:center;
  padding:10rem 0 6rem 0;
  background-color:$color-black;
  @include respond(large){
    padding:6rem 0;
  }

  @include respond(medium){
    padding:5rem 2rem;
  }

  @include respond(small2){
    padding: 3rem 1rem;
  }

  &__heading {
    color: $color-orange;
    margin: 0;
  }

  &__text {
    width:70%;
    margin:1rem auto 2rem auto;

    @include respond(medium){
      width:100%;
    }
  }
}