.comments {
  padding: 1rem 10%;

  @include respond(largest){
    padding: 1rem 5%;
  }

  @include respond(small){
    padding:0 1rem;
    text-align: center;
  }

  &__content {
    padding: 0 2rem;
    @include respond(small){
      padding:0;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
  }
}

.comment{
  display: flex;

  @include respond(small){
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img-box {
   flex-basis: 14%;
   transform: translateY(8px);

    @include respond(medium2){
      flex-basis:20%;
    }

    @include respond(small){
      width:20%;
      transform:translateY(0);
      margin-bottom:1rem;
    }
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__comment-box {
    padding-left: 2.5rem;
    flex-basis: 86%;

    @include respond(medium2){
      flex-basis:80%;
      padding-left:1.5rem;
    }

    @include respond(small){
      padding:0;
    }
  }

  &__date {
    margin: 0;
    margin-bottom: .5rem;
    color: $color-orange;
    font-size: 2.5rem;

    @include respond(medium2){
      font-size:2.3rem;
    }
  }

  &__comment {
   margin: 0;
   margin-bottom: 5rem;

   @include respond(larger){
    &:last-child{
      margin-bottom:3rem;
    }
   }
  }
}

.comment-form{
  @include respond(small2){
    border-top:1px dashed $color-white;
  
  }
}

