.comments {
  padding: 1rem 10%;

  @include respond(largest){
    padding: 1rem 5%;
  }
  &__content {
    padding: 0 2rem;
  }
  &__heading {
    @include font-primary-bold(3.4rem, .85, 2.2px);
    margin-bottom: 1.5rem;
  }
}

.comment{
  display: flex;
  
  &__img-box {
   flex-basis: 14%;
   transform: translateY(8px);
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__comment-box {
    padding-left: 2.5rem;
    flex-basis: 86%;
  }

  &__date {
    margin: 0;
    margin-bottom: .5rem;
    color: $color-orange;
    font-size: 2.5rem;
  }

  &__comment {
   margin: 0;
   margin-bottom: 5rem;
   @include respond(larger){
    &:last-child{
      margin-bottom:3rem;
    }
   }
   
  }
}

