html {
  font-size: 125%;
  // @include respond(large){
  //   font-size: 115%;
  // }
}

body{
  font-size: 1.95rem;
  font-family: $font-primary;
  line-height: .77;
  letter-spacing: 1.9px;
  color:$color-white;

  @include respond(larger){
    font-size:1.8rem;
  }
}

.wrapper {
  max-width:1400px;
  margin:0 auto;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

.heading-lg {
  font-size: 6rem;
}

.heading-md {
  font-size: 3.4rem;
  font-weight:600;
  line-height: .85;
  letter-spacing: 2.2px;
}