$color-white: #fff;
$color-red: #bf2603;
$color-red-dark: #220303;
$color-orange: #ff8327;
$color-black: #111010;
$color-grey: #2c2c2c;
$font-secondary: "Tulpen One", sans-serif;
$font-primary: "Chathura", sans-serif;

$box-shadow-right: 29px 32px 0px -3px $color-orange;
$box-shadow-left:-29px 32px 0px -3px $color-orange;


