article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-size: 1.95rem;
  font-family: "Chathura", sans-serif;
  line-height: .77;
  letter-spacing: 1.9px;
  color: #fff; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.heading-lg {
  font-size: 6rem; }

.heading-md {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: .85;
  letter-spacing: 2.2px; }

.btn {
  font-family: "Tulpen One", sans-serif;
  color: #fff;
  background-color: #bf2603;
  padding: .4rem 2rem;
  letter-spacing: 3px;
  border: none; }

.overlay {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* SKIP LINK*/
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fff;
  color: #111010;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  padding: .5rem 2rem; }

.skip-link:focus {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.footer {
  padding: .9rem 0;
  background: #2c2c2c;
  text-align: center; }
  .footer__copyright {
    margin: 0; }

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 90vh;
  grid-template-rows: 90vh;
  /** HEADER HOME STYLES **/
  /*** HEADER BLOG STLYES ***/
  /*** HEADER CONTACT STYLES ***/ }
  .header--home {
    background-image: url(../images/home-image-1.jpg);
    background-size: cover;
    background-position: center; }
  .header__heading {
    font-size: 4.16rem;
    font-family: "Chathura", sans-serif;
    letter-spacing: 2.6px;
    line-height: .65;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: end;
    align-self: end;
    position: relative;
    /* For z-index in edge */
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    z-index: 2; }
    .header__heading--large {
      font-family: "Tulpen One", sans-serif;
      font-size: 13.07rem;
      font-weight: 300;
      color: #ff8327;
      display: block;
      margin-left: -7px; }
  .header__img-box {
    width: 50%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: end;
    align-self: end;
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%); }
  .header__img {
    display: block;
    width: 100%; }
  .header--blog {
    -ms-grid-rows: 80vh;
    grid-template-rows: 80vh;
    background-image: url(../images/blog-header-1.jpg);
    background-size: cover; }
  .header__heading--blog {
    font-size: 6rem;
    letter-spacing: 2.6px;
    line-height: .65;
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translate(10%, 40%);
    -ms-transform: translate(10%, 40%);
    transform: translate(10%, 40%); }
  .header--contact {
    -ms-grid-rows: 50vh;
    grid-template-rows: 50vh;
    background-image: url(../images/contact-header-1.jpg);
    background-size: cover; }
  .header__heading--contact {
    font-size: 6rem;
    letter-spacing: 2.6px;
    line-height: .65;
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%); }

/* HEADER NAV FOR ALL THREE PAGES */
.header-nav {
  width: 45%;
  margin-top: 3%;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: start;
  align-self: start; }
  .header-nav__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .header-nav__item {
    width: 20%; }
  .header-nav__link {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 0.76;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    display: block;
    padding: .5rem 0;
    letter-spacing: 1.9px;
    color: inherit; }
  .header-nav__logo {
    font-family: "Tulpen One", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.9px;
    color: currentColor;
    padding: .5rem 1rem; }
  .header-nav__link:hover, .header-nav__logo:hover {
    color: #ff8327; }

.blog-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  background-color: #111010; }

.features {
  background-color: #111010;
  padding: 14rem 0 9rem 0; }
  .features__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 3rem; }

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content, 1fr;
  -ms-grid-columns: min-content, 1fr;
  grid-template-columns: -webkit-min-content, 1fr;
  grid-template-columns: min-content, 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: .5rem; }
  .feature__heading {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    margin: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2; }
  .feature__text {
    margin: 0; }
  .feature__icon {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    position: relative;
    display: block;
    background-color: #bf2603; }
  .feature__icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [middle-start] ([col-start] minmax(-webkit-min-content, 7rem) [col-end])[10] [middle-end] 1fr [full-end];
  -ms-grid-columns: [full-start] 1fr [middle-start] ([col-start] minmax(min-content, 7rem) [col-end])[10] [middle-end] 1fr [full-end];
  grid-template-columns: [full-start] 1fr [middle-start] repeat(10, [col-start] minmax(-webkit-min-content, 7rem) [col-end]) [middle-end] 1fr [full-end];
  grid-template-columns: [full-start] 1fr [middle-start] repeat(10, [col-start] minmax(min-content, 7rem) [col-end]) [middle-end] 1fr [full-end];
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #220303; }
  .info__header {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    margin-top: 0;
    margin-bottom: .5rem; }
  .info__text {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: left; }
  .info__image-box--1 {
    grid-column: full-start/col-end 4;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%); }
  .info__plan {
    grid-column: col-start 7/ middle-end; }
  .info__locations {
    grid-column: middle-start /col-end 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: right; }
  .info__image-box--2 {
    grid-column: col-start 7/ full-end;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%); }
  .info__img {
    width: 100%;
    display: block; }
    .info__img--1 {
      -webkit-box-shadow: 20px 20px 0px 3px #ff8327;
      box-shadow: 20px 20px 0px 3px #ff8327; }
    .info__img--2 {
      -webkit-box-shadow: -20px 20px 0px 3px #ff8327;
      box-shadow: -20px 20px 0px 3px #ff8327; }

.party {
  text-align: center;
  padding: 10rem 0 6rem 0;
  background-color: #111010; }
  .party__heading {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    color: #ff8327;
    margin: 0; }
  .party__text {
    width: 70%;
    margin: 1rem auto 2rem auto; }

.banner__img {
  width: 100%;
  display: block; }

.events {
  padding: 6rem 0 6rem 0;
  background-color: #111010; }
  .events__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .events__heading {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    color: #ff8327;
    margin: 0; }
  .events__left {
    width: 25%;
    margin-right: 6rem; }
  .events__right {
    width: 75%; }
  .events__text {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .events__img {
    width: 100%;
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    display: block;
    -webkit-box-shadow: -20px 20px 0px 3px #ff8327;
    box-shadow: -20px 20px 0px 3px #ff8327; }

.gallery {
  background-color: #220303;
  padding: 6rem 0; }
  .gallery__images {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery__img-box {
    width: 33%; }
    .gallery__img-box:not(:last-child) {
      margin-right: 2.5rem; }
  .gallery__img {
    width: 100%;
    display: block; }

.mission {
  padding-top: 8rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }
  .mission__img-box {
    border: none;
    margin-right: 10%;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    z-index: 2; }
  .mission__img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .mission__heading {
    margin: 0; }
  .mission__content {
    padding: 110% 2rem 2rem 2rem;
    margin-right: 7%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
    background-color: #220303; }
  .mission__heading {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    margin: 0; }
  .mission__text {
    margin-top: 0; }
  .mission__link {
    color: #ff8327; }
  .mission__post-list {
    font-size: 1rem;
    padding-left: 1.5rem;
    list-style-type: disc;
    color: #bf2603; }
  .mission__post-link {
    color: #fff;
    font-size: 1.95rem;
    padding-left: .6rem; }

.blog-post {
  margin-left: 10%;
  margin-bottom: 4rem;
  margin-top: -20%;
  grid-column: 5 / -1; }
  .blog-post__img-box {
    position: relative;
    left: 32px; }
  .blog-post__img {
    width: calc(100% - 32px);
    -webkit-box-shadow: -37px 37px 0px -5px #ff8327;
    box-shadow: -37px 37px 0px -5px #ff8327;
    -o-object-fit: cover;
    object-fit: cover; }
  .blog-post__post {
    border-left: 5px solid #ff8327;
    border-bottom: 5px solid #ff8327;
    padding: 6rem 15%; }
  .blog-post__heading {
    margin: 0; }
  .blog-post__date {
    color: #ff8327;
    font-size: 1.75rem;
    margin-top: .5rem; }
  .blog-post__text:last-child {
    margin-bottom: 0; }

.comments {
  padding: 1rem 10%; }
  .comments__content {
    padding: 0 5%; }
  .comments__heading {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 0.85;
    letter-spacing: 2.2px;
    margin-bottom: 1.5rem; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comment__img-box {
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%;
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px); }
  .comment__img {
    width: 100%;
    display: block; }
  .comment__comment-box {
    padding-left: 2.5rem;
    -ms-flex-preferred-size: 86%;
    flex-basis: 86%; }
  .comment__date {
    margin: 0;
    margin-bottom: .5rem;
    color: #ff8327;
    font-size: 2.5rem; }
  .comment__comment {
    margin: 0;
    margin-bottom: 5rem; }

.comment-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2.5rem; }
  .comment-form__cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 1rem; }
  .comment-form__label {
    padding-left: 5.5%;
    display: block; }
  .comment-form__input {
    background: none;
    border: none;
    border-bottom: 1px solid #ff8327;
    color: #fff; }
  .comment-form__input:focus-within {
    background-color: #2b2929;
    border: 1px solid #fff; }
  .comment-form__comment {
    grid-column: 1/-1;
    background: none;
    border: 1px solid #ff8327;
    color: #fff;
    padding: 1rem 2rem; }
  .comment-form__comment:focus-within {
    background-color: #2b2929;
    border: 1px solid #fff; }
  .comment-form__submit {
    grid-column: 1/-1; }
  .comment-form__submit:focus {
    border: 1px solid #fff;
    background-color: #220303; }

.contact {
  background-color: #111010; }
